<div id="ibm-top" style="" class="ibm-landing-page ibm-signin login-state-page sign-in cf">
    <div id="ibm-content-wrapper">
        <div role="main" aria-labelledby="ibm-pagetitle-h1">
            <div id="ibm-pcon" style="background-color: rgb(255, 255, 255); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, Helvetiibm-signineue, Helvetica, sans-serif;">
                <div id="ibm-content" style="background-color: rgb(255, 255, 255); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, HelveticaNeue, Helvetica, sans-serif;">
                    <div id="ibm-content-body" class="ibm-id" style="background-color: rgb(255, 255, 255); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, HelveticaNeue, Helvetica, sans-serif;">
                        <div id="ibm-content-main">
                            <div class="ibm-columns">
                                <div class="ibm-col-6-2">
                                    &nbsp;
                                </div>
                                <div class="ibm-signin-card ibm-col-6-2">
                                    <div class="" id="signin">
                                        <form id="ibmid-signin-form" class="login-fields" style="text-align: center;">
                                            <input type="hidden" name="operation" value="verify" style="background-color: rgb(223, 230, 235); font-size: 1.2rem;">
                                            <input type="hidden" name="login-form-type" value="pwd" role="form" style="background-color: rgb(223, 230, 235); font-size: 1.2rem;">
                                            <h3 id="ng-signin-title-2" style="text-align: center; font-size: 32px; color: rgb(57, 72, 75);">Log in</h3>
                                            <div id="useridform" style="text-align: center;">
                                                <label for="username" style="color: rgb(45, 63, 73); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, HelveticaNeue, Helvetica, sans-serif; font-weight: bold; font-size: 16px; text-align: left;">Enter Email:
                                                </label>
                                                <p>
                                                    <input tabindex="1" type="text" autofocus="" autocomplete="off" maxlength="80" id="username" name="username" class="" autocorrect="off"
                                                        autocapitalize="none" placeholder="Email or IBMid" style="background-color: rgb(223, 230, 235); font-size: 1.2rem;">
                                                    <br>
                                                </p>
                                                <label for="password" style="color: rgb(45, 63, 73); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, HelveticaNeue, Helvetica, sans-serif; font-weight: bold; font-size: 16px; text-align: left;">Password <span class="forgotlink ibmid-ctx-forgotPasw"></span></label>
                                                <p>
                                                    <span style="position: relative; display: block; height: 50px;">
																			<input tabindex="1" autocomplete="off" type="password" maxlength="31" id="password" name="password" placeholder="Password" style="background-color: rgb(223, 230, 235); font-size: 1.2rem;">
																		</span>
                                                    <span id="pwdErrorMsg" style="color: rgb(255, 80, 80); display: none; font-weight: 600;"> </span>
                                                </p>
                                            </div>
                                            <div id="fedform" class="form-view ibm-hide" style="text-align: center;">
                                                <div id="ibmOrgMsgCont" class="ibm-h4" style="color: rgb(45, 63, 73); font-family: &quot;IBM Helvetica&quot;, &quot;Helvetica Neue&quot;, HelveticaNeue, Helvetica, sans-serif; font-weight: bold; font-size: 16px; text-align: center;">
                                                    <span id="ibmOrgMsg1" class="ibm-bold"></span><br>
                                                </div><br>
                                                <a tabindex="1" (click)="login()" id="continuefedbutton" class="ng-signin-cta-2 button buttonRegister login-true" style="display: inline-block; width: auto; padding: 1rem; background-color: rgb(61, 112, 178); color: rgb(255, 255, 255); border: none; font-size: 12px; font-weight: bold; position: relative;">Sign in to</a>
                                            </div>
                                            <h5>or login with</h5>
                                            <div id="fedform" class="form-view ibm-hide" style="text-align: center;">
                                                <a tabindex="1" (click)="loginWithFacebook()" id="continuefedbutton" class="ng-signin-cta-2 button buttonRegister login-true"
                                                    style="display: inline-block; width: auto; padding: 8px 16px; background-color: rgb(61, 112, 178); color: rgb(255, 255, 255); border: none; font-size: 24px; font-weight: bold; position: relative;">f</a>
                                                <a tabindex="1" (click)="loginWithTwitter()" id="continuefedbutton" class="ng-signin-cta-2 button buttonRegister login-true"
                                                    style="display: inline-block; width: auto; padding: 8px 16px; background-color: rgb(61, 112, 178); color: rgb(255, 255, 255); border: none; font-size: 24px; font-weight: bold; position: relative;">tw</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>