<h3 style="text-align:center">Cross-login test app</h3>

<div id="fedform" class="form-view ibm-hide" style="text-align: center;">
    <a routerLink="/login" tabindex="1" id="continuefedbutton" class="ng-signin-cta-2 button buttonRegister login-true"
        style="display: inline-block; width: auto; text-decoration: none; padding: 8px 16px; background-color: rgb(61, 112, 178); color: rgb(255, 255, 255); border: none; font-size: 24px; font-weight: bold; position: relative;">Go to Login</a>
</div>